@import "tailwindcss";
@import "tailwindcss";

@layer components {
  .custom-container {
    width: 100%;
    max-width: 1680px;
    margin-inline: auto;
    padding-inline: 16px;
  }

  @media (min-width: 1024px) {
    .custom-container {
      padding-inline: 48px;
    }
  }
}